<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db-config.properties">
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="EmpMapperr.xml"/>-->

<!--   接口绑定方式找到mapper.xml的两种方式     -->
        <mapper resource="org/hzz/mapper/EmpMapperr.xml"/>
<!--        <mapper class="org.hzz.mapper.EmpMapper"/>-->
    </mappers>
</configuration>