<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hzz.mapper.EmpMapper">

    <resultMap id="BaseEmpResultMap" type="org.hzz.pojo.Emp">
        <id column="id" property="id"></id>
        <result column="username" property="username"></result>
        <result column="dept_id" property="deptId"></result>
    </resultMap>
    <select id="selectEmpByDept" resultMap="BaseEmpResultMap">
        select * from emp where dept_id = #{dept_id}
    </select>
</mapper>